Build/
	DerivedData/
	Index/
	SHUD.xcodeproj/
	Script/
	shud
	shud.dSYM/
	sundials-master.zip
	sundials-master/
*.zip
scr.2*
output
*.sh
shud
shud.*
Build
DerivedData
*.xcodeproj
.github
SHUD.*
.Rproj.user
.DS_Store
forcing
rAnalysis/test.R
